.badge {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: $color-text-red;
  color: $color-text-lite;
  font-size: 13px;
  line-height: 1;
  top: 10px;
  right: 8px;
}
