$main-font: "Roboto", "Helvetica", sans-serif;


$main-color-text: rgb(102, 102, 102);
$color-text-lite: rgb(251, 251, 251);
$color-text-red: rgb(251, 99, 98);
$color-text-red-active: rgb(212, 87, 87);
$color-dark: rgb(77, 77, 77);
$color-grey-1: rgb(244, 244, 244);
$color-dark-blue: rgb(64, 74, 88);
$color-grey: rgb(153, 153, 153);
$color-grey1: rgb(217, 217, 217);
$color-black: rgb(1, 1, 1);
$color-blue: rgb(36, 41, 49);
$disabled-color: rgb(209, 202, 202);
$disabled-bg: rgb(131, 131, 131);
$focus: rgb(17, 102, 199);
$success: rgb(17, 219, 94);


